body {
  margin          : 0;
  background-color: #1f373a; 
  background-image: url("./bgPattern.png");
  font-family     : 'Roboto', sans-serif;
  display         : flex;
  justify-content : center;
}

.font {
  font-size       : calc(13px + 0.2vw);
  line-height     : calc(13px + 0.6vw);
  color           : #FFFFFF;
}

h1 {
  display         : inline;
  font-size       : calc(13px + 0.2vw);
  line-height     : calc(13px + 0.6vw);
  font-weight     : normal;
}

h2 {
  display         : inline;
  font-size       : calc(13px + 0.2vw);
  line-height     : calc(13px + 0.6vw);
  font-weight     : normal;
}

#display{
  width           : 100%;
  height          : 100vh;
  background-color: white;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : space-between;
  border-radius: 4px;
}

@media only screen and (min-width: 800px) {
  #display {
      width: 75%;
  }
}

.top {
  display                   : flex;
  flex-direction            : column;
  align-items               : center;
  width                     : 95%;
  max-width		              : 800px;
  border-radius             : 4px;
}

#bois {
  position                  : relative;
  width                     : 80%;
  flex-grow                 : 1;
}

footer {
  display                   : flex;
  justify-content           : space-around;
  width                     : 95%;
  margin                    : 0.5rem 0;
  padding                   : 0.2rem 0;
  border-radius             : 4px;
  background-color          : #092327;
}

/*TOP*/

nav {
  display                   : flex;
  justify-content           : space-evenly;
  /*align-items               : flex-end;*/
  width                     : 90%;
  height                    : 100%;
}

.button {
  border                    : 1px solid;
  border-bottom             : none;
  border-radius             : 5px;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
  font-size                 : 14px;
  text-decoration           : none;
  text-align                : center;
  padding                   : 1em 0.25em 0.25em;
  min-width: 30%;
  margin                    : 0.5rem 0 0;
  min-height                : 2rem;
  cursor                    : pointer;
}

.btn0 {
  background-color          : #b64b3c;
  color                     : #FFFFFF;
}

.btn0:hover, .btn0On {    
  background-color          : #DE5B49;
  color                     : #FFFFFF;
}

.btn1  {
  background-color          : #b57f3c;
  color                     : #FFFFFF;
}

.btn1:hover, .btn1On {
  background-color          : #dd9a49;
  color                     : #FFFFFF;
}

.btn2 {
  background-color          : #983263;
  color                     : #FFFFFF;
}

.btn2:hover, .btn2On {
  background-color          : #B93D78;
  color                     : #FFFFFF;
}

.btn4 {
  background-color          : #B93D78;
  color                     : #FFFFFF;
}

main { 
  border-radius    : 10px;
  width            : 100%;
}

.bubble0 {
  background-color : #DE5B49;
  border-bottom: 5px solid #A04134;
}

.bubble1 {
  background-color : #dd9a49;
  border-bottom: 5px solid #ae7838;
}

.bubble2 {
  background-color : #B93D78;
  border-bottom: 5px solid #892C58;
}

.bubbleContent {
  display          : flex;
  align-items      : center;
  justify-content  : space-around;
}

.speech {
  text-align: center;
  width     : 80%;
  margin    : 1.6rem 0;
}

.arrow {
  color            : #FFFFFF;
  text-decoration  : none;
  font-size        : calc(36px + 1.5vh);
  opacity          : 0.8;
  cursor: pointer;
}

#arrowLeft {
  -webkit-transform: rotate(180deg);
  transform        : rotate(180deg);
}

.inputs {
  background-color: #B93D78;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size       : calc(12px + 0.1vw);
  line-height     : calc(12px + 0.5vw);
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  width: 80%;
}

textarea {
  
  height: 80%;
}

.tick {
  margin-top: -5px;
  content: ' ';
  width: 0;
  height: 0;
  border: 20px solid;
  margin-left: 40%;
}

.tick0 {
  border-color: #de5b49 transparent transparent #de5b49;
}

.tick1 {
  border-color: #dd9a49 transparent transparent #dd9a49;
}

.tick2 {
  border-color: #B93D78 transparent transparent #B93D78;
}

/*BOIS*/

.boi {
  position: absolute;
  width   : 100%;
  height  : 100%;
  z-index : 1;
}

.boiOn {
  z-index: 2;
  opacity:1;
}

.mouthAnim {
  animation          : talk 0.4s steps(2, start) infinite;
  -webkit-animation  : talk 0.4s steps(2, start) infinite;
}

@-webkit-keyframes talk {
  from {visibility   : visible;}
  to {visibility     : hidden;}
}

/*SENT*/

.sent {
  border-radius: 5px;
  padding: 1rem 0;
  background-color          : #983263;
  color                     : #FFFFFF;
  text-align: center;
  width:100%;
  font-size: 14px;
  text-decoration: none;
}

::placeholder {
  color: white;
}